

<div class="p-grid p-mt-6">
    <div class="p-col-4 p-offset-4">
        <div class="box">
            <p-card header="Login" subheader="Ingrese Usuario y Contraseña" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/circuit.jpg">
                </ng-template>
                <div class="p-grid p-mt-1">
                    <div class="p-col-8 p-offset-2">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="firstname1">Firstname</label>
                                <input id="firstname1" type="text" pInputText> 
                            </div>
                            <div class="p-field">
                                <label for="lastname1">Lastname</label>
                                <input id="lastname1" type="text" pInputText> 
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="p-grid p-mb-3">
                        <div class="p-col-8 p-offset-2">
                            <div class="p-fluid">
                                <p-button label="Ingresar"></p-button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>