
<p-toast></p-toast>
<div class="p-grid p-mt-6">
    <div class="p-col-4 p-offset-4">
        <div class="box">
            <p-card styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <div class="p-grid">
                        <div class="p-col-6 p-offset-3">
                            <img alt="Card" src="assets/login.png">
                            <div class="p-text-center p-mt-6">
                                <h3>Acceso Usuario</h3>
                            </div>

                        </div>
                    </div>
                </ng-template>
                <div class="p-grid">
                    <div class="p-col-8 p-offset-2">
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="username">Usuario</label>
                                <input id="username" type="text" pInputText autofocus required [(ngModel)]="usuario.username"> 
                            </div>
                            <div class="p-field">
                                <label for="password">Contraseña</label>    
                                <input  (keyup.enter)="login()" id="password" type="password" pInputText required [(ngModel)]="usuario.password"> 
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <div class="p-grid p-mb-3">
                        <div class="p-col-8 p-offset-2">
                            <div class="p-fluid">
                                <p-button label="Ingresar" (onClick)="login()"></p-button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>