<p-table #dt styleClass="p-datatable-sm" [value]="registros" [globalFilterFields]="['impresora.nombre', 'impresora.modelo', 'impresora.ip']">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Detalles de Reporte</h5>
            
            <span class="p-input-icon-left">
                <button type="button" pButton pRipple  (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                    <i class="pi pi-file-excel"></i>
                </button>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th class="p-text-center">IP</th>
            <th class="p-text-center">contador 109</th>
            <th class="p-text-center">contador 124</th>
            <th class="p-text-center">contador 102</th>
            <th class="p-text-center">Volumen Procesado B Y N</th>
            <th class="p-text-center">Volumen Procesado Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
        <tr>
            <td>{{registro.impresora.nombreimpresora}}</td>
            <td>{{registro.impresora.modeloimpresora}}</td>
            <td class="p-text-center">{{registro.impresora.ipimpresora}}</td>
            <td class="p-text-center">{{registro.contador109}}</td>
            <td class="p-text-center">{{registro.contador124}}</td>
            <td class="p-text-center">{{registro.contador102}}</td>
            <td class="p-text-center">{{registro.vpbyn}}</td>
            <td class="p-text-center">{{registro.vpcolor}}</td>
        </tr>
    </ng-template>
</p-table>