
<div class="text-layout">
  <h1>

    Hola Mundo
  </h1>

</div>


<button pButton type="button" icon="pi pi-check" iconPos="right" label="Cambiar Nombre" class="p-button-help"></button>

<p-card [header]="nombre" [subheader]="apellido" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quis atque, dolor quisquam numquam iste odit hic corrupti sequi quidem ex dignissimos? Eum fuga sunt quaerat accusamus esse provident earum.
</p-card>




